* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

body {
  background-color: #eee;
  font-family: "helvetica neue", helvetica, arial, sans-serif;
  color: #222;
}

.container {
  max-width: 700px;
  padding: 2rem;
  box-sizing: border-box;
  margin: auto;
}

.form-field {
  display: flex;
  margin: 0 0 1rem 0;
}
label,
input {
  width: 70%;
  padding: 0.5rem;
  box-sizing: border-box;
  justify-content: space-between;
  font-size: 1.1rem;
}
label {
  text-align: right;
  width: 30%;
}
input {
  border: 2px solid #aaa;
  border-radius: 2px;
}

.btn:hover {
  cursor: pointer;
}

.result-field {
  display: flex;
  justify-content: center;
}

.result-field > span {
  font-size: 2rem;
}
